In [1]:
print("hello all good morning")

hello all good morning

In [ ]:
we will wait for 3min

## Introduction to variables

In [ ]:
Variable----------->It is a memory location used to store values

example------>  name='anil'   x=8   mycollege=gitam

In [ ]:
They are three rules for declaring variables

In [ ]:
1.No gaps or spaces in between variables

In [2]:
full name='chatla karthik'               ## invalid syntax

SyntaxError: invalid syntax (<ipython-input-2-ebcd91c1fe93>, line 1)

In [3]:
full_name='chatla karthik'                  ## valid syntax

In [4]:
print(full_name)

chatla karthik

In [ ]:
2.Variable name doesnt starts with numerics or numbers

In [5]:
4name='manoja'                    ## invalid syntax

SyntaxError: invalid syntax (<ipython-input-5-3ba17c81a810>, line 1)

In [6]:
name5='manoja'                    ## valid syntax

In [7]:
print(name5)

manoja

In [ ]:
3.No special characters should not be used in the beggining of the variable name

In [8]:
$name='delhi'

SyntaxError: invalid syntax (<ipython-input-8-b065c2909220>, line 1)

In [ ]:
comments


1.single line comment
2.multi line comment

In [ ]:
## introduction to variables

In [ ]:
## add two numbers
## we have to take two variables a,b
## a=5,b=6
## a+b
## c

## Introduction about datatypes or data structures in python

In [ ]:
1.strings--------------->str
2.list------------------>list
3.tuple----------------->tuple
4.dictionary-------------->dict
5.set--------------------->set

In [ ]:
## Introduction to strings

In [ ]:
string-------->Agroup of characters or a series of characters

In [ ]:
example------>delhi,biryani,anil

In [ ]:
## we can declare our strings in three different ways---->single quote,double quote,triple quotes

In [ ]:
1.'python'
2."python"
3.'''python'''

In [13]:
city='chennai'

In [14]:
print(city)

chennai

In [15]:
type(city)

str

In [ ]:
## code enhancement

In [16]:
name='pranay'

In [17]:
print(name)

pranay

In [ ]:
Three built-in methods

1.upper()
2.lower()
3.title()

In [ ]:
## completely caital letters

In [18]:
print(name.upper())

PRANAY

In [ ]:
## Starting letter as a capital

In [19]:
print(name.title())

Pranay